# Data Exploaration and Loadings

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns 
import warnings 
warnings.filterwarnings('ignore')
import plotly.express as ex

In [2]:
data=pd.read_csv("C:/Users/sachi/Downloads/walmart_clean_data.csv")
print(data)

      invoice_id   Branch         City                category unit_price  \
0              1  WALM003  San Antonio       Health and beauty     $74.69
1              2  WALM048    Harlingen  Electronic accessories     $15.28
2              3  WALM067  Haltom City      Home and lifestyle     $46.33
3              4  WALM064      Bedford       Health and beauty     $58.22
4              5  WALM013       Irving       Sports and travel     $86.31
...          ...      ...          ...                     ...        ...
9964        9996  WALM056      Rowlett     Fashion accessories        $37
9965        9997  WALM030   Richardson      Home and lifestyle        $58
9966        9998  WALM050     Victoria     Fashion accessories        $52
9967        9999  WALM032        Tyler      Home and lifestyle        $79
9968       10000  WALM069     Rockwall     Fashion accessories        $62

      quantity      date      time payment_method  rating  profit_margin
0          7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1          5.0  08/03/19  10:29:00           Cash     9.6           0.48
2          7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3          8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4          7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...        ...       ...       ...            ...     ...            ...
9964       3.0  03/08/23  10:10:00           Cash     3.0           0.33
9965       2.0  22/02/21  14:20:00           Cash     7.0           0.48
9966       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
9967       2.0  25/02/21  12:25:00           Cash     7.0           0.48
9968       3.0  26/09/20   9:48:00           Cash     3.0           0.33

[9969 rows x 11 columns]

# Now we do the data cleanings.

In [5]:
df=pd.DataFrame(data)
print(data)

      invoice_id   Branch         City                category unit_price  \
0              1  WALM003  San Antonio       Health and beauty     $74.69
1              2  WALM048    Harlingen  Electronic accessories     $15.28
2              3  WALM067  Haltom City      Home and lifestyle     $46.33
3              4  WALM064      Bedford       Health and beauty     $58.22
4              5  WALM013       Irving       Sports and travel     $86.31
...          ...      ...          ...                     ...        ...
9964        9996  WALM056      Rowlett     Fashion accessories        $37
9965        9997  WALM030   Richardson      Home and lifestyle        $58
9966        9998  WALM050     Victoria     Fashion accessories        $52
9967        9999  WALM032        Tyler      Home and lifestyle        $79
9968       10000  WALM069     Rockwall     Fashion accessories        $62

      quantity      date      time payment_method  rating  profit_margin
0          7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1          5.0  08/03/19  10:29:00           Cash     9.6           0.48
2          7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3          8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4          7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...        ...       ...       ...            ...     ...            ...
9964       3.0  03/08/23  10:10:00           Cash     3.0           0.33
9965       2.0  22/02/21  14:20:00           Cash     7.0           0.48
9966       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
9967       2.0  25/02/21  12:25:00           Cash     7.0           0.48
9968       3.0  26/09/20   9:48:00           Cash     3.0           0.33

[9969 rows x 11 columns]

In [7]:
df.info

<bound method DataFrame.info of       invoice_id   Branch         City                category unit_price  \
0              1  WALM003  San Antonio       Health and beauty     $74.69
1              2  WALM048    Harlingen  Electronic accessories     $15.28
2              3  WALM067  Haltom City      Home and lifestyle     $46.33
3              4  WALM064      Bedford       Health and beauty     $58.22
4              5  WALM013       Irving       Sports and travel     $86.31
...          ...      ...          ...                     ...        ...
9964        9996  WALM056      Rowlett     Fashion accessories        $37
9965        9997  WALM030   Richardson      Home and lifestyle        $58
9966        9998  WALM050     Victoria     Fashion accessories        $52
9967        9999  WALM032        Tyler      Home and lifestyle        $79
9968       10000  WALM069     Rockwall     Fashion accessories        $62

      quantity      date      time payment_method  rating  profit_margin
0          7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1          5.0  08/03/19  10:29:00           Cash     9.6           0.48
2          7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3          8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4          7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...        ...       ...       ...            ...     ...            ...
9964       3.0  03/08/23  10:10:00           Cash     3.0           0.33
9965       2.0  22/02/21  14:20:00           Cash     7.0           0.48
9966       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
9967       2.0  25/02/21  12:25:00           Cash     7.0           0.48
9968       3.0  26/09/20   9:48:00           Cash     3.0           0.33

[9969 rows x 11 columns]>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9969 entries, 0 to 9968
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 856.8+ KB

In [9]:
df.describe()

         invoice_id     quantity       rating  profit_margin
count   9969.000000  9969.000000  9969.000000    9969.000000
mean    5010.116561     2.355602     5.828839       0.393744
std     2886.217349     1.605455     1.763723       0.090659
min        1.000000     1.000000     3.000000       0.180000
25%     2524.000000     1.000000     4.000000       0.330000
50%     5016.000000     2.000000     6.000000       0.330000
75%     7508.000000     3.000000     7.000000       0.480000
max    10000.000000    10.000000    10.000000       0.570000

In [10]:
df.isnull()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9964,False,False,False,False,False,False,False,False,False,False,False
9965,False,False,False,False,False,False,False,False,False,False,False
9966,False,False,False,False,False,False,False,False,False,False,False
9967,False,False,False,False,False,False,False,False,False,False,False
9968,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull

<bound method DataFrame.isnull of       invoice_id   Branch         City                category unit_price  \
0              1  WALM003  San Antonio       Health and beauty     $74.69
1              2  WALM048    Harlingen  Electronic accessories     $15.28
2              3  WALM067  Haltom City      Home and lifestyle     $46.33
3              4  WALM064      Bedford       Health and beauty     $58.22
4              5  WALM013       Irving       Sports and travel     $86.31
...          ...      ...          ...                     ...        ...
9964        9996  WALM056      Rowlett     Fashion accessories        $37
9965        9997  WALM030   Richardson      Home and lifestyle        $58
9966        9998  WALM050     Victoria     Fashion accessories        $52
9967        9999  WALM032        Tyler      Home and lifestyle        $79
9968       10000  WALM069     Rockwall     Fashion accessories        $62

      quantity      date      time payment_method  rating  profit_margin
0          7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1          5.0  08/03/19  10:29:00           Cash     9.6           0.48
2          7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3          8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4          7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...        ...       ...       ...            ...     ...            ...
9964       3.0  03/08/23  10:10:00           Cash     3.0           0.33
9965       2.0  22/02/21  14:20:00           Cash     7.0           0.48
9966       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
9967       2.0  25/02/21  12:25:00           Cash     7.0           0.48
9968       3.0  26/09/20   9:48:00           Cash     3.0           0.33

[9969 rows x 11 columns]>

In [12]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [13]:
df.nunique()

invoice_id        9969
Branch             100
City                98
category             6
unit_price        1008
quantity            10
date              1460
time              1001
payment_method       3
rating              62
profit_margin        6
dtype: int64

In [17]:
# all duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9964    False
9965    False
9966    False
9967    False
9968    False
Length: 9969, dtype: bool

In [18]:
df.duplicated().sum()

np.int64(0)

In [15]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [20]:
df.shape

(9969, 11)

In [22]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [25]:
df['unit_price']=df['unit_price'].str.replace('$','').astype(float)

In [26]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9969 entries, 0 to 9968
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 856.8+ KB

In [29]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [34]:
df['total']=df['unit_price']*df['quantity']

In [35]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17